<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => "form-horizontal form login" }) do |f| %>
  
  <%= f.error_notification %>

  <div class="card-header card-header-primary text-center">
    <h4 class="card-title">Login</h4>
  </div>
  
  <p class="description text-center">
    Or <%= link_to "Register", new_user_registration_path, :class => "text-accent font-weight-bold" %> as new user
  </p>

  <div class="card-body">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="material-icons">face</i>
        </span>
      </div>
      <%= f.input_field :login, :required => true, :autofocus => true, :autofill => false, :placeholder => "Username or Email" %>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="material-icons">lock</i>
        </span>
      </div>
      <%= f.input_field :password, :required => true, :placeholder => "Password..." %>
    </div>
  </div>
  <div class="footer text-center">
    <%= f.button :submit, "Get Started", :class => "btn btn-primary btn-link btn-wd btn-lg" %>
  </div>
<% end %>