<%% title "New", false %>
<%% navbar_brand "New" %>

<div class="row">
  <div class="col-md-10 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title"><%= singular_table_name.titleize %> #<%%= @<%= singular_table_name %>.id %></h4>
      </div>
      <div class="card-body">
        <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
      </div>
      <div class="card-footer">
        <%%= link_to "Cancel", <%= index_helper %>_path, :class => "btn-link" %>
      </div>
    </div>
  </div>
</div>